.star svg{
    margin-right: 5px;
}

.filled svg {
    fill: var(--primary)
}

/* .star svg:focus{
    border: none;
    outline: none;
} */

.editable {
    cursor: pointer;
    border: none;
    transition: all .2s;
}
